@keyframes hovered {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

.elements__delete-button {
  width: 18px;
  height: 19px;
  position: absolute;
  left: calc(100% - 38px);
  top: 20px;
  background-image: url('../../../images/Trash.svg');
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.elements__delete-button:hover {
  animation: hovered 0.2s linear forwards;
  cursor: pointer;
}